:root{
    /* set variables*/
    --sharped-goldenrod:  rgb(197, 141, 0);
    --nice-lightblue: hsl(208, 82%, 33%);
    --nice-blue: hsl(209, 84%, 20%);
    --nice-darkblue: hsl(221, 70%, 17%);
    --darkblue: navy;
    --dark-gray: hsl(0, 0%, 15%);
    --adjusted-azure:  hsl(180, 88%, 93%);
    --paper: hsl(44, 100%, 90%);
    --dimed-white: hsl(0, 0%, 85%);

    --ul-bckgrnd-light: linear-gradient(to right, hsla(50, 100%, 99%, 0), hsla(50, 100%, 50%, 0.075) 55%, hsla(50, 57%, 40%, 0.35) 65%, hsla(50, 100%, 50%, 0.35) 100% );
    --ul-bckgrnd-optim: linear-gradient(to right, hsla(50, 100%, 99%, 0), hsla(50, 100%, 50%, 0.075) 55%, hsla(50, 57%, 40%, 0.5) 65%, hsla(50, 100%, 50%, 0.5) 95%, hsla(50, 100%, 50%, 0.0) );
    
    --h2-blick-on: linear-gradient(to left, hsla(51, 100%, 51%, 0.01) 5%, hsla(51, 100%, 51%, 0.25) 50%, hsla(51, 100%, 51%, 0.95) 75%, hsla(43, 100%, 50%, 1) 100%);
    --h2-blick-off: linear-gradient(to left, hsla(51, 100%, 51%, 0.01) 5%, hsla(51, 67%, 37%, 0.02) 50%, hsla(51, 100%, 51%, 0.05) 75%, hsla(43, 100%, 50%, 0.1) 100%);

    --shapeholder-paper: linear-gradient(30deg,hsl(44, 100%, 88%), hsl(200, 25%, 32%), hsl(200, 25%, 12%), hsl(200, 15%, 8%) 50%, hsl(200, 20%, 16%), hsl(200, 20%, 32%), hsl(200, 25%, 64%), hsl(44, 100%, 88%) 90%);  

    /* Scroll effect - smooth scroll */
    scroll-behavior: smooth;
}

[id]{
    scroll-margin-top: 30px;
    /* scroll-margin-bottom: 50px;*/
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&family=Roboto+Slab&display=swap');


@media (max-width: 1680px){
    body {
        font-size: 1.35em !important;
    }
    #body-shapeholder{
        max-width: 800px;
        margin: 20px auto 10px auto;
    }
    .logo-image{
        min-height: 150px;
    }
    #projects {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        min-height: 100vh;
        justify-content: center;
        align-content: center;        
    }

    .project-holder {
        display: grid;
        grid-template-columns: 350px 350px !important;
        grid-template-rows: 250px;
        grid-gap:1px;
        grid-template-areas: 
        "content0 content1"
        "content2 content3" !important;    
    }   
    #contacts {
        height: 80vh;
    }
    #contacts .line-holder {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #contacts ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;  
    }
    #contacts .refl-text {
        display: none;
    }
    #navbar, #navbar ul { 
        width: 75% !important;
    }
}

@media (max-width: 980px){
    body {
        font-size: 1.1em !important;
    }
    #body-shapeholder{
        max-width: 500px;
        margin: 20px auto 10px auto;
    }
    .logo-image{
        min-height: 150px;
    }
    #projects {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        min-height: 100vh;
        justify-content: center;
        align-content: center;        
    }

    .project-holder {
        display: grid;
        grid-template-columns: 350px !important;
        grid-template-rows: 250px;
        grid-gap:1px;
        grid-template-areas: 
        "content0"
        "content1"
        "content2"
        "content3" !important;    
    }   
    #contacts {
        height: 80vh;
    }
    #contacts .line-holder {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #contacts ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;  
    }
    #contacts .refl-text {
        display: none;
    }
    #navbar, #navbar ul { 
        width: 70% !important;
    }
}

body {
    font-family: Roboto Mono, 'Roboto', monospace, Calibri;
    /*background-color: white; */
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 1.8em;
    /* radial gradient - test only */
    /*
    background-image: radial-gradient(hsla(0, 0%, 100%, 0.20 ) 50%, hsla(40, 100%, 50%, 0.20) 75%, hsla(200, 100%, 50%, 0.20)  92%); 
    */
    background-image: linear-gradient(to top right, hsla(40, 100%, 50%, 0.125) 0%, hsla(0, 0%, 100%, 0.125),hsla(200, 100%, 50%, 0.125) 100%);
    
    /*
    background-image: linear-gradient(to top right, hsla(0, 0%, 75%, 0.00), hsla(0, 0%, 25%, 0.5));
    */
}

h1 { 
    font-size: 2.5em; 
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: white;  margin:0px;
    }
h2 { 
    font-size: 1.5em; 
    margin:0 auto 0.75em auto; 
    color:var(--nice-blue); 
    /*background-color: hsla(51, 100%, 51%, 0.25);*/
    background-image: linear-gradient(to left, hsla(51, 100%, 51%, 0.01) 5%, hsla(51, 100%, 51%, 0.25) 50%, hsla(51, 100%, 51%, 0.95) 75%, hsla(43, 100%, 50%, 1) 100%);
    padding:2px;

}
h3 { 
    color: var(--sharped-goldenrod);
    background-image: linear-gradient(to right, hsla(205, 100%, 10%, 0), hsla(205, 100%, 10%, 0.125) 55%, hsla(205, 100%, 10%, 0.5) 75%, hsla(205, 100%, 10%, 0.9) 100%);
    margin:0.2em; 
    border-bottom: 2px dotted var(--sharped-goldenrod);
    /*
    color:var(--nice-darkblue); 
    background-image: linear-gradient(to left, hsla(50, 100%, 99%, 0), hsla(50, 100%, 50%, 0.075) 55%, hsla(50, 57%, 40%, 0.15) 65%, hsla(50, 100%, 50%, 0.15) 97%, hsla(50, 100%, 50%, 0.0) );
    */
}
h3 span, p span {
    font-size: 1.25em;
 
    color:var(--nice-lightblue);
    background-color: rgba(218, 165, 32, 0.07); 
    padding: 5px;
    
}
p { 
    color: var(--sharped-goldenrod);
    background-image: linear-gradient(to right, hsla(205, 100%, 10%, 0), hsla(205, 100%, 10%, 0.125) 55%, hsla(205, 100%, 10%, 0.5) 75%, hsla(205, 100%, 10%, 0.9) 100%);
    text-decoration: wavy;
    /*
    color:var(--nice-darkblue); 
    background-image: linear-gradient(to left, hsla(50, 100%, 99%, 0), hsla(50, 100%, 50%, 0.075) 55%, hsla(50, 57%, 40%, 0.15) 65%, hsla(50, 100%, 50%, 0.15) 98%, hsla(50, 100%, 50%, 0.0) );
    */
}

#body-shapeholder{
    width: 1430px;
    margin: 20px auto 10px auto;
    /*background-color: hsl(0, 0%, 85%);*/
    background-color: var(--paper) ;
    box-shadow: 10px 10px 30px 10px dimgray;
    background-image: var(--shapeholder-paper);
}

#welcome-section {
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image {
    width: 100%;
    min-height: 300px;
    margin:0px auto 25px auto;
    background-image: url(pictures/clouds1.png);
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    background-color: black;
}

/* navbar start */
#navbar { 
    display: flex;

    flex-direction: row;
    justify-self: flex-end;
    position: fixed;
    width: inherit;
    height: 1.5em;
    z-index:1;
}

#navbar ul{
        
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 1.3em;
    margin: 10px 5px auto 5px ;
    /*list-style-type: '☸'; list-style-position: outside;*/
    list-style-type: none;  
    background-image: var(--ul-bckgrnd-light);
}
    /* or could be : */
    /* ul li:before {content: "+";} */
    /*p.note::marker { content: "Note " counter(note-counter) ":";  } */
    /* more properities:
    ul li {
        padding-left: 2rem;
        background-image: url(star.svg);
        background-position: 0 0;
        background-size: 1.6rem 1.6rem;
        background-repeat: no-repeat;
    }*/

    #navbar li {
        font-size: 1em;
        display: flex;
        padding-left: 5px;
        padding-right: 10px;
        border-right: 1px dotted black; 
        color:var(--nice-lightblue);
        align-content:flex-end;
        height: inherit;
        z-index:2;
    }

    #navbar li a {
        color:var(--nice-blue);  
    }

    ul li:before {content: " ☸ "; margin:auto 10px auto 5px; display: inline-block;  }

    #navbar li:hover:before {
        animation-name: rotato;
        animation-duration: 6s;
        animation-iteration-count: 3;
        animation-fill-mode:forwards;
    }

    #navbar li:hover {
        animation-name: slide-li;
        animation-duration: 3s;
        animation-iteration-count: 2;
        animation-timing-function: ease-in-out;
    }

    #navbar ul:hover{
        animation-name: slide-ul;
        animation-duration: 3s;
        animation-iteration-count: 4;
        animation-timing-function: ease-in-out;
    }
/* navbar end */

/* reflect text */
#real-text {
    background-color: hsla(0, 0%, 0%, 1);
    margin:0px;
    /*display: none;*/
}

#refl-text {
    /*display: none;*/
    width:100%;
    background-color: hsla(0, 0%, 0%, 0.9); 
    
/* 1st posibility */
   
    -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(5%, transparent), to(hsla(0, 0%, 23%, 0.75)));
   
    /* other posibilities:  -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent;  */
  /*  
    margin:0px 0px 0px 15px;
    transform: scaleY(-1) skewX(-12deg);
    filter: blur(3px); 
  */  

 /*2nd posibility - seems better maybe */
    transform-origin: bottom;
    height: 2em;
    margin-top: -2em;
    margin-bottom:2em;
    transform: scaleY(-0.75) perspective(1000px) rotateX(315deg);
    filter: blur(2px) opacity(75%);  
}

#reflect_div {
    display:inline-block;
    border-radius: 1px;
}
/* reflect text end */

/* color dancing text start */
#color-text-holder { 
    display:inline-flex; flex-direction: row; 
}

#d1, #a1, #n1, #i1, #e1, #l1, #x1, #xx1{ 
    display: inline-flex; 
    border: 3px dotted red; 
    align-items: center;  
    text-decoration: underline overline yellowgreen;
}

#d1{ font-size: 1.5em; color:blue;}
#a1{ font-size: 1.1em;color: goldenrod; margin:30px 10px auto 5px; }
#n1{ font-size: 0.8em; color: green; margin-top:55px; height: 80px; }
#i1{ font-size: 1.25em; color:brown; }
#e1{ font-size: 1.1em; color:chocolate; margin-top:10px; height: 80px; transform: rotate(-45deg);  text-decoration:none; }
#l1{ font-size: 1.2em; color:cornflowerblue;}

        /* rotastion test on # as x */
        #x1{ font-size: 1.2em; color:violet;}
        #x1:hover{
            transform: rotate3D(1, 0, 0, 720deg);
            transition: transform 5s;
        }
        /* rotastion test on # as x */
        #xx1{ font-size: 1.2em; color:violet;}
        #xx1:hover {
            transform: rotate3D(0, 1, 0, 960deg);
            transition: transform 2s;
        }

        #color-text-holder:hover #e1, #color-text-holder:hover #a1 { 
            animation-name: rotato;
            animation-iteration-count: 3;
            animation-duration: 6s;
        }

        #color-text-holder:hover #a1 { 
            margin-bottom: -80px;
            transform: rotate(180deg);
            transition: all 1s;
            animation-name: rotato;
            animation-iteration-count: 2;
            animation-duration: 5s;
            animation-delay: 3s;
            animation-direction: reverse;

        }
        #color-text-holder:hover #n1 { 
            margin-top:-30px;
            transition: margin-top 1s;
            animation-name: rotato;
            animation-iteration-count: 1;
            animation-duration: 5s;
            animation-delay: 10s;
            animation-fill-mode: backwards;
            animation-direction: reverse;
        }

        #color-text-holder:hover #i1, #color-text-holder:hover #l1, #color-text-holder:hover #d1 { 
            animation-name: slide-li;
            animation-iteration-count: 3;
            animation-duration: 4s;
        }
/* characters dance end */

#projects {
    display: flex;
    flex-direction: column;
    width: 1422px;
    min-height: 100vh;
    justify-content: flex-start;
    padding: 15px 3px 3px 3px;
    outline: none;
    /* background-image: linear-gradient(to top right, rgba(20, 20, 22, 0.863) 25%, rgba(59, 60, 70, 0.849) 45%, rgba(150, 176, 219, 0.6) 60%, var(--paper) 75%);  */
}

#projects img { font-size: 0.75em;}

#projects:focus h2{
    animation: neon-projects-h2 2s both;
}

#projects:focus{
    /* transition cannot be performed - test only 
    background-image: radial-gradient(hsla(201, 63%, 37%, 0.5),hsla(200, 50%, 50%, 0.1));
    background-image: radial-gradient(red, green, blue);
    background-image: radial-gradient(circle at 100%, dimgray red 50%, yellow 75%, blue 75%);
    */
    background-color: hsla(0, 0%, 100%, 0.07);
    transition: background-color 3s linear 5s;
}

#projects:focus .project{
    animation: start-neon-projects 4s forwards 1.5s;
}

#projects h2 {
    background-image: linear-gradient(to left, hsla(51, 100%, 51%, 0.01) 5%, hsla(51, 67%, 37%, 0.02) 50%, hsla(51, 100%, 51%, 0.05) 75%, hsla(43, 100%, 50%, 0.1) 100%);
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  
    height: 240px;
    width: 334px;
    border: 1px solid gray;
    /*box-shadow: 2px 2px 8px 2px dimgray;*/
    outline: none;
    z-index: 0;
    background-color: var(--dimed-white);

    filter: grayscale(100%) brightness(15%) blur(3px); /* opacity(50%) saturate(25%) drop-shadow(0px 0px 5px red);*/ 


    /* the focus on #project will start the animation */ 
}

.project0{ 
    grid-area: content0;  
}
.project1{ 
    grid-area: content1;  
}
.project2{ 
    grid-area: content2;  
    /* animation: start-neon-projects 8s forwards, blicker-neon-projects 5s 10s 5; *//* this is turned-off it is too disturbing */
}
.project3{ 
    grid-area: content3;
}

.project-holder {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px ;
    grid-template-rows:250px;
    grid-gap:1px;
    grid-template-areas: 
    "content0 content1 content2 content3";    
    justify-content: center;
    align-items: center;

    margin:25px auto 25px auto;
}

#projects a {
    font-size: 0.75em;
    height: 1.25em;
}

#projects h2 { 
    font-size: 1.25em;
    margin:1em auto 1em auto;
}
#projects h2 a { 
    font-size: 1em;
}

.project img {
    width: 330px;
    border: 1px solid gray;
}

.project:focus{
    /*grid-area: advert !important;*/
    /*animation-name: move-grid;
    animation-duration: 1s;
    animation-fill-mode: forwards;*/
    z-index:1 !important;   
    filter: drop-shadow(0px 0px 0px hsla(50, 100%, 50%, 0.01)) !important; 
    box-shadow: 0 0 0;
}

.project:focus img {
    border-radius: 10px;
    border: none;

    animation-name: image-zoomer;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    backface-visibility: visible;
    animation-play-state: running;
}

#contacts {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-content: space-around;

    font-size: 1em;
    font-weight:500;
    color: goldenrod;
    
    /*
    background-image: url(pictures/forest.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100% 50vh;
    */
}


/* navbar background optimizer - to avoid more JS use */
.color-optimizer {
    display: inline-flex;
    justify-self: flex-start;
    margin: -25px auto 150px auto;
    width:100%;
    height: 1.35em;
    background-image: var(--ul-bckgrnd-optim);
}

#contacts a {
    color: goldenrod;  
}

#contacts ul{

} 

#contacts li {
    list-style: none; 
    padding: 3px;
    margin-left: 1px;
}

#contacts i { 
    font-size: 1.30em;
    margin: 0 10px 0 25px;
}

.line-holder { 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    /*align-self: center;*/
    align-content: space-around;
    justify-content: space-around;
 }

 #footer-img-holder {

     display: flex;
     flex-direction: column;
     align-content: center;
     justify-content: flex-end;
     width: 100%;
     height: 60vh;
     outline: none;
 }

.img-real {
    width:100%;
    height: 40vh;
    align-self: center;
    justify-self: flex-end;
    filter: blur(0px) hue-rotate(75deg) brightness(60%);
}

.img-reflect {
    display: none; /* must be focus to reveal - I am enjoying to play CSS in JS role... */

    align-self: center;
    width:100%; 
    height: 40vh;
    margin-top: -40vh;
    transform-origin: bottom;
    /*transform: scaleY(-1) perspective(1000px) rotateX(315deg); */
    filter: blur(0px) opacity(25%) hue-rotate(75deg) brightness(60%);
    animation: rotate-reflection-footer-img 7s ease-out forwards 0s;
}

#footer-img-holder:focus .img-reflect {
  display: flex;
}

.real-text{
    width:100%;
    margin:0px;

}
.refl-text{
    width:100%;
    height: 1em;
    margin-top: -1em;
    transform-origin: bottom;
    transform:  scaleY(-1) skewX(0deg) perspective(750px) rotateX(-45deg); 
    filter: blur(1px) opacity(50%); 
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

#real-text2{  
    width: 100%; height: 1em;
}

#refl-text2{  
    filter: blur(1px) opacity(95%); 
    width: 100%; height: 1em;
}

#real-text2 p, #refl-text2 p {
    color:var(--nice-blue);
    font-size: 0.85em;
}

#real-text2 a, #refl-text2 a{
    color: var(--nice-darkblue);
}

#trt {
    width:150px; max-height: 30px; background-color: hsla(34, 57%, 70%, 0.1);
}



@keyframes image-zoomer {
    0% {
        margin-left: 0px;
    }
    75% {
        transform: scale(2.35) rotate(15deg) rotateY(180deg);
        box-shadow: 20px 20px 40px 10px dimgray ;
        
        margin-left: calc(var(--position-margin)*0.65);    
    }
    100%{
        transform: scale(3) rotate(1deg) rotateY(360deg);
        box-shadow: 5px 5px 20px 5px dimgray;
        
        margin-left: var(--position-margin);
    }
}

@keyframes rotato {
    0%  {  
        transform: scale(1) rotate(0deg); /*font-size: 1.5em;*/
    }
    15% { 
        transform: scale(1.5) rotate(540deg); /*font-size: 2.5em;*/ 
    }
    25% {
        transform: scale(1.25) rotate(270deg); 
    }
    40%{
        transform: scale(1.75) rotate(540deg); 
    }
    60%{
        transform: scale(1.25) rotate(180deg); 
    }
    100% {
        transform: scale(1.0) rotate(540deg); 
    }
}


@keyframes nav-link-trans {
    
    0% {
        background-color: hsl(220, 88%, 84%);
    }
    100% {
        background-color: hsl(60, 85%, 81%);
    }
}

/*
@keyframes  hovered-button{ 
    33%{
        background-color:yellow;
        color:dimgray;
    }
    66%{
        background-color:var(--nice-lightblue);
            color: goldenrod;
    }
    100%{
        background-color: goldenrod;
        color: black;
    }
}
*/

@keyframes slide-li {
    33% {
        padding-left: 5px;
        padding-right: 10px;
        margin-right: 5px; 
        margin-left: 5px;
        box-shadow: 0px 0px 24px 2px hsla(51, 100%, 50%, 0.25);
    }
    66%{ 
        padding-left: -5px;
        padding-right: 15px;
        margin-right: 10px;
        margin-left: 10px;
        box-shadow: 0px 0px 32px 2px hsla(51, 100%, 50%, 0.35);
    }
    100%{
        padding-left: 5px;
        padding-right: 10px;
        margin-right: 0px;
        margin-left: 0px;
        box-shadow: 0px 0px 20px 2px hsla(51, 100%, 50%, 0.25);
    }  
}

@keyframes slide-ul {
    25% {
        margin-right: 15px;
        
    }
    50%{ 
        margin-right: 0px;
        
    }
    100%{
        margin-right: 5px;
        
    }   
}
/* too much disturbed - turned off*/
@keyframes blicker-neon-projects {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    41% {
        opacity: 0.5;
    }
    45% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: .5;
    }
    52% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    52% {
        opacity: .25;
    }
    55% {
        opacity: 1;
    }
    85% {
        opacity: 1;
        filter: grayscale(0%);
    }
    86% {
        opacity: 0.02;
        filter: grayscale(100%);
    }
    98% {
        opacity: 0.05;
        filter: grayscale(100%);
    }
    99% {
            opacity: 1;
            filter: grayscale(0%);
    }
    100% {
        opacity: 1;
    }
}

@keyframes neon-projects-h2 {
    1%{
        background-image: var(--h2-blick-on);
    }
    5% {
        background-image: var(--h2-blick-off);
    }
    20%{
        background-image: var(--h2-blick-off);
    }
    25%{
        background-image: var(--h2-blick-on);
    }
    30%{
        background-image: var(--h2-blick-off);
    }
    35%{
        background-image: var(--h2-blick-on);
    }
    40%{
        background-image: var(--h2-blick-off);
    }
    50%{
        background-image: var(--h2-blick-off);
    }
    100%{
        background-image: var(--h2-blick-on);
    }
}

@keyframes start-neon-projects {
    0%{
        filter:grayscale(100%) brightness(15%) blur(4px);
    }
    10%{
        filter:grayscale(100%) brightness(15%) blur(4px);
    }
    11%{
        filter:grayscale(100%) brightness(15%) blur(1px) drop-shadow(0px 0px 0px  hsla(50, 100%, 50%, 0.75));
    }
    12%{
        filter:grayscale(100%) brightness(15%) blur(4px);
    }

    20%{
        filter:grayscale(100%) brightness(15%) blur(4px);
    }
    21%{
        filter:grayscale(100%) brightness(15%) blur(2px) drop-shadow(0px 0px 0px hsla(50, 100%, 50%, 0.5));
    }
    22%{
        filter:grayscale(100%) brightness(15%) blur(4px);
    }
    23%{
        filter:grayscale(100%) brightness(18%) blur(1px) drop-shadow(0px 0px 1px hsla(50, 100%, 50%, 0.75));
    }
    24%{
        filter:grayscale(100%) brightness(15%) blur(4px);
    }
    
    60%{
        filter:grayscale(100%) brightness(15%) blur(4px);
    }
    61%{
        filter:grayscale(100%) brightness(18%) blur(2px) drop-shadow(0px 0px 1px hsla(50, 100%, 50%, 0.5));
    }
    62%{
        filter:grayscale(100%) brightness(15%) blur(4px);
    }
    63%{
        filter:grayscale(100%) brightness(18%) blur(1px) drop-shadow(0px 0px 1px hsla(50, 100%, 50%, 0.75));
    }
    64%{
        filter:grayscale(100%) brightness(15%) blur(4px);
    }
 
    80%{
        filter:grayscale(100%) brightness(15%) blur(4px);
    }
    81% {
       filter:grayscale(100%) brightness(30%) blur(1px) drop-shadow(0px 0px 0px hsla(50, 100%, 50%, 0.4));
    }
    90% {
        filter:grayscale(100%) brightness(40%) blur(1px) drop-shadow(0px 0px 10px hsla(50, 100%, 60%, 0.5));
     }
    95% {
        filter:grayscale(100%) brightness(50%) blur(0px) drop-shadow(0px 0px 20px hsla(50, 100%, 65%, 0.6));
    }
    99% {
        filter:grayscale(100%) brightness(60%) blur(0px) drop-shadow(0px 0px 30px hsla(50, 100%, 70%, 0.6));
    }
    100% {
        filter:grayscale(0%) brightness(100%) blur(0px) drop-shadow(0px 0px 15px hsla(50, 100%, 75%, 0.5));
    }
}



@keyframes rotate-reflection-footer-img {
   0% {
        transform: scaleY(-1) perspective(1000px) rotateX(180deg); height:40vh;  margin-top:-40vh;
        filter: blur(0px) opacity(25%) hue-rotate(65deg) brightness(100%); 
    }
    10% {
        transform: scaleY(-1) perspective(1000px) rotateX(315deg); height:20vh;  margin-top:-20vh;
        filter: blur(3px) opacity(85%) hue-rotate(65deg) brightness(60%); 
    }
    90%{
        transform: scaleY(-1) perspective(1000px) rotateX(315deg); height:20vh;  margin-top:-20vh;
        filter: blur(3px) opacity(85%) hue-rotate(65deg) brightness(60%); 
    }
    100%{
        transform: scaleY(-1) perspective(1000px) rotateX(180deg); height:40vh;  margin-top:-40vh;
        filter: blur(0px) opacity(25%) hue-rotate(65deg) brightness(100%); 
    }
   
}